
Seguridad/obj/Release/Seguridad.csproj.AssemblyReference.cache
Seguridad/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/tools/Install.ps1
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/Microsoft.Xaml.Behaviors.Wpf.1.1.39.nupkg
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/netcoreapp3.1/Microsoft.Xaml.Behaviors.xml
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/netcoreapp3.1/Microsoft.Xaml.Behaviors.pdb
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/net5.0-windows7.0/Microsoft.Xaml.Behaviors.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net8.0/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.pdb
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.pdb
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/images/MaterialDesignThemes.Icon.png
ItalianPicza/packages/MaterialDesignThemes.5.1.0/docs/README.md
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Regular.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-LightItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Light.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Italic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-BoldItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Bold.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-ThinItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Thin.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Regular.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-MediumItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Medium.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-LightItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Light.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Italic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-BoldItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Bold.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-BlackItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Black.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/MaterialDesignThemes.targets
ItalianPicza/packages/MaterialDesignThemes.5.1.0/.signature.p7s
ItalianPicza/packages/MaterialDesignColors.3.1.0/MaterialDesignColors.3.1.0.nupkg
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net8.0/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net8.0/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net6.0/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net6.0/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net462/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net462/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/images/MaterialDesignColors.Icon.png
ItalianPicza/packages/MaterialDesignColors.3.1.0/docs/README.md
ItalianPicza/packages/MaterialDesignColors.3.1.0/.signature.p7s
ItalianPicza/.vs/ItalianPicza/v17/DocumentLayout.json
ItalianPicza/.vs/ItalianPicza/FileContentIndex/e4d65c6e-80b5-489d-ac54-2ebb4e125665.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/c5b4c3d4-a110-4e76-bdf8-920a0da65ad5.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/8714e39b-2eb6-4ccf-b718-da82c35a8e12.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/79a6cf51-c564-4aa2-a647-cfc5cfb19f5f.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/176360ad-26fb-4bf4-b5df-296f8b798fe6.vsidx
