
Seguridad/obj/Release/Seguridad.csproj.AssemblyReference.cache
Seguridad/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/tools/Install.ps1
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/Microsoft.Xaml.Behaviors.Wpf.1.1.39.nupkg
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/netcoreapp3.1/Microsoft.Xaml.Behaviors.xml
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/netcoreapp3.1/Microsoft.Xaml.Behaviors.pdb
ItalianPicza/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39/lib/net5.0-windows7.0/Microsoft.Xaml.Behaviors.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net8.0/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.pdb
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net6.0/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.xml
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.pdb
ItalianPicza/packages/MaterialDesignThemes.5.1.0/lib/net462/MaterialDesignThemes.Wpf.dll
ItalianPicza/packages/MaterialDesignThemes.5.1.0/images/MaterialDesignThemes.Icon.png
ItalianPicza/packages/MaterialDesignThemes.5.1.0/docs/README.md
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Regular.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-LightItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Light.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Italic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-BoldItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/RobotoCondensed-Bold.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-ThinItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Thin.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Regular.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-MediumItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Medium.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-LightItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Light.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Italic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-BoldItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Bold.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-BlackItalic.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/Resources/Roboto/Roboto-Black.ttf
ItalianPicza/packages/MaterialDesignThemes.5.1.0/build/MaterialDesignThemes.targets
ItalianPicza/packages/MaterialDesignThemes.5.1.0/.signature.p7s
ItalianPicza/packages/MaterialDesignColors.3.1.0/MaterialDesignColors.3.1.0.nupkg
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net8.0/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net8.0/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net6.0/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net6.0/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net462/MaterialDesignColors.pdb
ItalianPicza/packages/MaterialDesignColors.3.1.0/lib/net462/MaterialDesignColors.dll
ItalianPicza/packages/MaterialDesignColors.3.1.0/images/MaterialDesignColors.Icon.png
ItalianPicza/packages/MaterialDesignColors.3.1.0/docs/README.md
ItalianPicza/packages/MaterialDesignColors.3.1.0/.signature.p7s
ItalianPicza/.vs/ItalianPicza/v17/DocumentLayout.json
ItalianPicza/.vs/ItalianPicza/FileContentIndex/e4d65c6e-80b5-489d-ac54-2ebb4e125665.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/c5b4c3d4-a110-4e76-bdf8-920a0da65ad5.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/8714e39b-2eb6-4ccf-b718-da82c35a8e12.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/79a6cf51-c564-4aa2-a647-cfc5cfb19f5f.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/176360ad-26fb-4bf4-b5df-296f8b798fe6.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/312a789d-b784-4b59-b9c7-b0c1b2ecaf1e.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/3b577e3e-fc55-4927-b9b3-2b780188e9c9.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/7805300a-3b1c-4cae-a8f3-a7b1ee127d11.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/f2f14880-f74c-4076-8251-3fd2fd40921c.vsidx
ItalianPicza/.vs/ItalianPicza.csproj.dtbcache.json
ItalianPicza/.vs/ItalianPicza/FileContentIndex/0270c308-5674-4d3b-b764-49c241afaf12.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/2d90a122-b7e0-471d-88e1-1434f88ca6ee.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/2f6271e1-e9ad-4290-989c-ebc6b9b955ae.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/37d138ba-6aa1-4ef6-8806-ab25a1171486.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/3e3386d2-b66d-4e44-b060-a99dd0481393.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/42d8b765-dc1e-43f2-85ba-388900eaa32a.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/5664dee4-fe8f-40b7-8344-53cd175773fe.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/75742f73-435c-4a1e-8ad0-cf92b679fd80.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/786fa1b1-02cf-4cd2-bcce-c692bff66e26.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/918deedf-bc15-4017-b644-8c7602da5e7e.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/92707d90-1f17-4d95-a2ec-b7712dbe8993.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/a6829827-d0f2-4ede-b374-36ae7d7b6c72.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/c994dd2a-11fe-4ddc-becf-ae9d52069f41.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/dc75d245-c254-4ea7-882e-57534f62b395.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/f33b1a22-9c87-4288-be18-d396c6de94e8.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/f813435c-2f8f-4584-b9fd-26c00b7bb749.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/fd84e5ea-76f5-4717-a750-a851cd8af668.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/ff842f7b-8f5b-4223-8bb0-c2966ad9deb6.vsidx
ItalianPicza/.vs/ItalianPicza/v17/.suo
ItalianPicza/.vs/ItalianPicza/v17/DocumentLayout.json
ItalianPicza/.vs/ItalianPicza.csproj.dtbcache.json
ItalianPicza/.vs/ItalianPicza/FileContentIndex/0270c308-5674-4d3b-b764-49c241afaf12.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/2d90a122-b7e0-471d-88e1-1434f88ca6ee.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/2f6271e1-e9ad-4290-989c-ebc6b9b955ae.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/42d8b765-dc1e-43f2-85ba-388900eaa32a.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/5664dee4-fe8f-40b7-8344-53cd175773fe.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/75742f73-435c-4a1e-8ad0-cf92b679fd80.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/786fa1b1-02cf-4cd2-bcce-c692bff66e26.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/918deedf-bc15-4017-b644-8c7602da5e7e.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/92707d90-1f17-4d95-a2ec-b7712dbe8993.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/dc75d245-c254-4ea7-882e-57534f62b395.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/f33b1a22-9c87-4288-be18-d396c6de94e8.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/f813435c-2f8f-4584-b9fd-26c00b7bb749.vsidx
ItalianPicza/.vs/ItalianPicza/FileContentIndex/ff842f7b-8f5b-4223-8bb0-c2966ad9deb6.vsidx
ItalianPicza/.vs/ItalianPicza/v17/.suo
ItalianPicza/.vs/ItalianPicza/v17/DocumentLayout.json
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.baml
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.g.cs
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_AgregarProveedores.baml
ItalianPicza/obj/Debug/GUI_AgregarProveedores.g.cs
ItalianPicza/obj/Debug/GUI_AgregarProveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_ConsultarPedidos.baml
ItalianPicza/obj/Debug/GUI_ConsultarReceta.baml
ItalianPicza/obj/Debug/GUI_ConsultarReceta.g.cs
ItalianPicza/obj/Debug/GUI_ConsultarReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_DarAltaProducto.baml
ItalianPicza/obj/Debug/GUI_DarAltaReceta.baml
ItalianPicza/obj/Debug/GUI_DarAltaReceta.g.cs
ItalianPicza/obj/Debug/GUI_DarAltaReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_DarAltaUsuario.baml
ItalianPicza/obj/Debug/GUI_Finanzas.baml
ItalianPicza/obj/Debug/GUI_Finanzas.g.cs
ItalianPicza/obj/Debug/GUI_Finanzas.g.i.cs
ItalianPicza/obj/Debug/GUI_FormularioPedido.baml
ItalianPicza/obj/Debug/GUI_InicioSesion.baml
ItalianPicza/obj/Debug/GUI_InicioSesion.g.cs
ItalianPicza/obj/Debug/GUI_InicioSesion.g.i.cs
ItalianPicza/obj/Debug/GUI_Inventario.baml
ItalianPicza/obj/Debug/GUI_Inventario.g.cs
ItalianPicza/obj/Debug/GUI_Inventario.g.i.cs
ItalianPicza/obj/Debug/GUI_MenuPrincipal.baml
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.baml
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.g.cs
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarProveedor.baml
ItalianPicza/obj/Debug/GUI_ModificarProveedor.g.cs
ItalianPicza/obj/Debug/GUI_ModificarProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarReceta.baml
ItalianPicza/obj/Debug/GUI_ModificarReceta.g.cs
ItalianPicza/obj/Debug/GUI_ModificarReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarUsuario.baml
ItalianPicza/obj/Debug/GUI_ModificarUsuario.g.cs
ItalianPicza/obj/Debug/GUI_ModificarUsuario.g.i.cs
ItalianPicza/obj/Debug/GUI_Pedidos.baml
ItalianPicza/obj/Debug/GUI_Pedidos.g.cs
ItalianPicza/obj/Debug/GUI_Pedidos.g.i.cs
ItalianPicza/obj/Debug/GUI_PedidosProveedores.baml
ItalianPicza/obj/Debug/GUI_PedidosProveedores.g.cs
ItalianPicza/obj/Debug/GUI_PedidosProveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_Productos.baml
ItalianPicza/obj/Debug/GUI_Productos.g.cs
ItalianPicza/obj/Debug/GUI_Productos.g.i.cs
ItalianPicza/obj/Debug/GUI_Proveedores.baml
ItalianPicza/obj/Debug/GUI_Proveedores.g.cs
ItalianPicza/obj/Debug/GUI_Proveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.baml
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.g.cs
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.g.i.cs
ItalianPicza/obj/Debug/GUI_ReporteInventario.baml
ItalianPicza/obj/Debug/GUI_ReporteInventario.g.cs
ItalianPicza/obj/Debug/GUI_ReporteInventario.g.i.cs
ItalianPicza/obj/Debug/GUI_ResponsivaCocineros.baml
ItalianPicza/obj/Debug/GUI_Usuarios.baml
ItalianPicza/obj/Debug/GUI_Usuarios.g.cs
ItalianPicza/obj/Debug/GUI_Usuarios.g.i.cs
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.baml
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.g.cs
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.g.i.cs
ItalianPicza/obj/Debug/ItalianPicza.csproj.AssemblyReference.cache
ItalianPicza/obj/Debug/ItalianPicza.csproj.FileListAbsolute.txt
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.cache
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.i.cache
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.lref
ItalianPicza/obj/Debug/TempPE/DatabaseModel.DataBaseMapping.ModeloBaseDatos.cs.dll
ItalianPicza/obj/Debug/TempPE/DatabaseModel.DataBaseMapping.ModeloBaseDatos.Designer.cs.dll
ItalianPicza/obj/Debug/VentanaPrincipal.baml
ItalianPicza/obj/Debug/VentanaPrincipal.g.cs
ItalianPicza/obj/Debug/VentanaPrincipal.g.i.cs
ItalianPicza/obj/Debug/VentanaPrincipal.g.i.cs
ItalianPicza/obj/Debug/VentanaPrincipal.g.cs
ItalianPicza/obj/Debug/VentanaPrincipal.baml
ItalianPicza/obj/Debug/TempPE/DatabaseModel.DataBaseMapping.ModeloBaseDatos.Designer.cs.dll
ItalianPicza/obj/Debug/TempPE/DatabaseModel.DataBaseMapping.ModeloBaseDatos.cs.dll
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.lref
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.i.cache
ItalianPicza/obj/Debug/ItalianPicza_MarkupCompile.cache
ItalianPicza/obj/Debug/ItalianPicza.csproj.FileListAbsolute.txt
ItalianPicza/obj/Debug/ItalianPicza.csproj.AssemblyReference.cache
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.g.cs
ItalianPicza/obj/Debug/GUI_VerDetallesPedidoProveedores.baml
ItalianPicza/obj/Debug/GUI_Usuarios.g.i.cs
ItalianPicza/obj/Debug/GUI_Usuarios.g.cs
ItalianPicza/obj/Debug/GUI_Usuarios.baml
ItalianPicza/obj/Debug/GUI_ResponsivaCocineros.baml
ItalianPicza/obj/Debug/GUI_ReporteInventario.g.i.cs
ItalianPicza/obj/Debug/GUI_ReporteInventario.g.cs
ItalianPicza/obj/Debug/GUI_ReporteInventario.baml
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.g.i.cs
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.g.cs
ItalianPicza/obj/Debug/GUI_RegistrarTransaccionFinanciera.baml
ItalianPicza/obj/Debug/GUI_Proveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_Proveedores.g.cs
ItalianPicza/obj/Debug/GUI_Proveedores.baml
ItalianPicza/obj/Debug/GUI_Productos.g.i.cs
ItalianPicza/obj/Debug/GUI_Productos.g.cs
ItalianPicza/obj/Debug/GUI_Productos.baml
ItalianPicza/obj/Debug/GUI_PedidosProveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_PedidosProveedores.g.cs
ItalianPicza/obj/Debug/GUI_PedidosProveedores.baml
ItalianPicza/obj/Debug/GUI_Pedidos.g.i.cs
ItalianPicza/obj/Debug/GUI_Pedidos.g.cs
ItalianPicza/obj/Debug/GUI_Pedidos.baml
ItalianPicza/obj/Debug/GUI_ModificarUsuario.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarUsuario.g.cs
ItalianPicza/obj/Debug/GUI_ModificarUsuario.baml
ItalianPicza/obj/Debug/GUI_ModificarReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarReceta.g.cs
ItalianPicza/obj/Debug/GUI_ModificarReceta.baml
ItalianPicza/obj/Debug/GUI_ModificarProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarProveedor.g.cs
ItalianPicza/obj/Debug/GUI_ModificarProveedor.baml
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.g.cs
ItalianPicza/obj/Debug/GUI_ModificarPedidoProveedor.baml
ItalianPicza/obj/Debug/GUI_MenuPrincipal.baml
ItalianPicza/obj/Debug/GUI_Inventario.g.i.cs
ItalianPicza/obj/Debug/GUI_Inventario.g.cs
ItalianPicza/obj/Debug/GUI_Inventario.baml
ItalianPicza/obj/Debug/GUI_InicioSesion.g.i.cs
ItalianPicza/obj/Debug/GUI_InicioSesion.g.cs
ItalianPicza/obj/Debug/GUI_InicioSesion.baml
ItalianPicza/obj/Debug/GUI_FormularioPedido.baml
ItalianPicza/obj/Debug/GUI_Finanzas.g.i.cs
ItalianPicza/obj/Debug/GUI_Finanzas.g.cs
ItalianPicza/obj/Debug/GUI_Finanzas.baml
ItalianPicza/obj/Debug/GUI_DarAltaUsuario.baml
ItalianPicza/obj/Debug/GUI_DarAltaReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_DarAltaReceta.g.cs
ItalianPicza/obj/Debug/GUI_DarAltaReceta.baml
ItalianPicza/obj/Debug/GUI_DarAltaProducto.baml
ItalianPicza/obj/Debug/GUI_ConsultarReceta.g.i.cs
ItalianPicza/obj/Debug/GUI_ConsultarReceta.g.cs
ItalianPicza/obj/Debug/GUI_ConsultarReceta.baml
ItalianPicza/obj/Debug/GUI_ConsultarPedidos.baml
ItalianPicza/obj/Debug/GUI_AgregarProveedores.g.i.cs
ItalianPicza/obj/Debug/GUI_AgregarProveedores.g.cs
ItalianPicza/obj/Debug/GUI_AgregarProveedores.baml
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.g.i.cs
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.g.cs
ItalianPicza/obj/Debug/GUI_AgregarPedidoProveedor.baml
ItalianPicza/obj/Debug/edmxResourcesToEmbed/DatabaseModel/DataBaseMapping/ModeloBaseDatos.ssdl
ItalianPicza/obj/Debug/edmxResourcesToEmbed/DatabaseModel/DataBaseMapping/ModeloBaseDatos.msl
ItalianPicza/obj/Debug/edmxResourcesToEmbed/DatabaseModel/DataBaseMapping/ModeloBaseDatos.csdl
ItalianPicza/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ItalianPicza/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ItalianPicza/obj/Debug/App.baml
